
.shapedividers_com-3813{
    overflow:hidden;
    position:relative;
    }
    .shapedividers_com-3813::before{ 
    content:'';
    font-family:'shape divider from ShapeDividers.com';
    position: absolute;
    z-index: 3;
    pointer-events: none;
    background-repeat: no-repeat;
    bottom: -0.1vw;
    left: -0.1vw;
    right: -0.1vw;
    top: -0.1vw; 
    background-size: 195px 100%;
    background-position: 0% 50%;  background-image: url('data:image/svg+xml;charset=utf8, <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3.62 35.278" preserveAspectRatio="none"><path d="M.092 0S.267 27.04 3.62 35.278H.092z" opacity=".2" fill="%23ffd1d8"/><path d="M.092 0s.154 27.04 3.102 35.278H.092z" opacity=".2" fill="%23ffd1d8"/><path d="M.092 0s.131 27.04 2.646 35.278H.092zM.092 0v35.278H0V0z" fill="%23ffd1d8"/></svg>'); 
    }
    
    
     